In [1]:
import requests
import pandas as pd
from pathlib import Path

In [2]:
data_path = Path('data/weather_data.csv')

In [12]:
def fetch_historical(start_date="2023-01-01", end_date="2023-12-31"):
        url = 'https://api.open-meteo.com/v1/forecast'
        parameters = {'latitude':51.5074,'longitude':-0.1278,'hourly':("temperature_2m,"
                "precipitation," "relativehumidity_2m," "windspeed_10m," "winddirection_10m,"
                "surface_pressure,""cloudcover"),'timezone': 'Europe/London'}
        response = requests.get(url, params = parameters)
        data = response.json()
        df = pd.DataFrame(data['hourly'])
        df['time']= pd.to_datetime(df['time'])
        return(df)

In [13]:
locations = [
    {"name": "Bath", "lat": 51.3758, "lon": -2.3599},
    {"name": "Bristol", "lat": 51.4545, "lon": -2.5879},
    {"name": "Durham", "lat": 54.7760, "lon": -1.5733},
    {"name": "Nottingham", "lat": 52.9548, "lon": -1.1581},
    {"name": "Brighton", "lat": 50.8225, "lon": -0.1372},
    {"name": "Exeter", "lat": 50.7184, "lon": -3.5339},
    {"name": "London", "lat": 51.5074, "lon": -0.1278},
    {"name": "Birmingham", "lat": 52.4862, "lon": -1.8904},
    {"name": "Manchester", "lat": 53.4808, "lon": -2.2426},
    {"name": "Leeds", "lat": 53.8008, "lon": -1.5491},
    {"name": "Glasgow", "lat": 55.8642, "lon": -4.2518},
    {"name": "Edinburgh", "lat": 55.9533, "lon": -3.1883},
]

In [9]:
hist_df = fetch_historical()

In [10]:
hist_df = fetch_historical()
print("Historical DF type:", type(hist_df))
print("Number of rows:", 0 if hist_df is None else len(hist_df))

Historical DF type: <class 'NoneType'>
Number of rows: 0

In [6]:
if data_path.exists():
    old = pd.read_csv(data_path, parse_dates=["time"])
    combined = pd.concat([old, hist_df]).drop_duplicates("time")
else:
    combined = hist_df
combined.to_csv(data_path, index=False)

AttributeError: 'NoneType' object has no attribute 'to_csv'

In [17]:
df.head()

,time,temperature_2m,precipitation,relativehumidity_2m,windspeed_10m,winddirection_10m,surface_pressure,cloudcover
0,2026-01-17 00:00:00,7.3,0.2,90,10.2,141,1008.8,100
1,2026-01-17 01:00:00,7.3,0.8,91,10.3,134,1008.7,100
2,2026-01-17 02:00:00,7.3,0.1,91,11.1,148,1008.7,100
3,2026-01-17 03:00:00,7.3,0.0,94,8.7,142,1008.6,100
4,2026-01-17 04:00:00,6.9,0.0,95,7.4,141,1009.2,100

In [18]:
df.shape

(24, 8)